#a{
    background-color: gray;
    border: solid;
}

#b{
    background-color: red;
    border: solid;
}

#c{
    background-color: yellow;
    border: solid;
}
#d{  
    background-color: blue;
   border: solid;
}

#e{
    background-color: cyan;
    border: solid;
}
#f{
    background-color: pink;
    border: solid;
}
#g{
    background-color: green;
    border: solid;
}
#h{
    background-color: white;
    border: solid;
}
#i{
    background-color: brown;
    border: solid;
}