#a{
    background-color: gray;
    border: solid;
}

#b{
    background-color: gray;
    border: solid;
}

#c{
    background-color: gray;
    border: solid;
}
#d{  
    background-color: gray;
   border: solid;
}

#e{
    background-color: gray;
    border: solid;
}
#f{
    background-color: gray;
    border: solid;
}
#g{
    background-color: gray;
    border: solid;
}
#h{
    background-color: gray;
    border: solid;
}
#i{
    background-color: gray;
    border: solid;
}